*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}




.whole_page {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    /* position: relative; */
  }

  .pages {
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    color: white;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pages:nth-child(1) {
    background: #006eff;
    position: absolute;
    height: 6vh;
  }
  .pages:nth-child(2) {
    background: #ee6620;
    position: relative;
    height: 94vh;
  }
  .pages:nth-child(3) {
    background: #777ba0;
    position: relative;
    height: 100vh;
  }
  .pages:nth-child(4) {
    background: #da1e62;
    position: relative;
    height: 100vh;
  }

  /* .navBar{
    background-color: #187cff00;
    position: fixed;
  } */