* {
    margin: 0;
    padding: 0;
}

#main{
    display: flex;
}

#projects {
    width: 50%;
    background-image: url(Assets/projects.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#projects:hover {
   filter: blur(5px);
   transition: 1s ease-in-out;
}

#tutorials {
    width: 50%;
    background-image: url(Assets/tutorials.jpg);
    background-size: cover;
    height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tutorials:hover {
    filter: blur(5px);
    transition: 1s ease-in-out;
}