body{
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

}

html {
    height: 100%
}

h1{
    padding-top: 9cm;
    text-align: center;
    font-family: Helvetica;
    font-style: bold;
    font-size: 70px;
    color: white;
}