body {
    background-color: rgb(56, 68, 77);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#innerBox {
    display: flex;
    flex-direction: row;
    justify-content: space;
    align-items: center;
}

#leftBox {
    color: white;
    background: #15212B;
    border-radius: 30px;
    text-align: center;
    font-size: 200px;
}

#middleBox {
    color: white;
    background: #15212B;
    border-radius: 30px;
    text-align: center;
    font-size: 200px;
}

#rightBox {
    color: white;
    background: #15212B;
    border-radius: 30px;
    text-align: center;
    font-size: 200px;
}

#dot1, #dot2 {
    color: white;
    background: rgb(56, 68, 77);
    font-size: 200px;
}

#head {
    font-family: sans-serif;
    color: #DDDDDD;
    font-size: 50px;
}