#main-body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

#color-picker {
    padding: 1vh 6vh 2vh 6vh;
    border-radius: 10px;
    background-color: #15212B;
    border: rgb(56, 68, 77) 2px solid;
}

#Empty-box {
    padding: 0vh 7vh 2vh 7vh;
    border-radius: 10px;
    background-color: #15212B;
    border: rgb(56, 68, 77) 2px solid;
    color: #15212B;
}

#color-picker-btn {
    box-sizing: content-box;
    border-style: dashed;
    background-color: transparent;
    appearance: none;
    height: 80px;
    width: 150px;
    border-radius: 5px;
}

.box {
    padding: 2px 3px 2px 3px;
    height: 30;
    width: 60;
    background-color: rgb(255, 255, 255);
    border: 2px;
    cursor: default; 
    border-radius: 2px;
}

#pickHead,
#placeHead {
    background-color: transparent;
    color: #DDDDDD;
    text-align: center;
}