@font-face {
    font-family: black-bold;
    src: url("../new portfolio/fonts/figerona/Figerona-VF.ttf");

    font-family: black-bold-italic;
    src: url("../new portfolio/fonts/eminor/EMINOR-BlackItalic.ttf");
}

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ////////////////////////////////////// */
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 9vh;
    display: flex;
    flex-direction: row;
    font-family: black-bold-italic;
    font-size: 1.3em;
    color: whitesmoke;
    background-image: linear-gradient(180deg, #ffffff69 90%, #ffffff00 90%);
}

.slide-in-top {
    -webkit-animation: slide-in-top 2s ease-in-out both;
    animation: slide-in-top 2s ease-in-out both;
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


#logo {
    width: 60vw;
}

#navbar>#logo {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 1em;
}

#navbar>#logo>a>img {
    width: 5.5rem;
}

#navbar-buttons {
    margin: 0;
    padding: 0;
    width: 40vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#navbar-buttons>a {
    color: whitesmoke;
}

#navbar-buttons>a:link {
    text-decoration: none;
}

#navbar-buttons>a:hover {
    color: rgb(250, 0, 0);
}

/* ////////////////////////////////////// */
.paralax {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* color: #FFFFFF; */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ////////////////////////////////////// */
#page1 {
    height: 100vh;
    width: 100%;
    background-image: url("../new portfolio/top_image1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: black-bold-italic;
    display: flex;
    flex-direction: row;
}

#page1>#BR {
    margin: 0;
    padding: 0;
    display: inlines;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-image: url("../new portfolio/DSC004221.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#page3 {
    height: 100vh;
    width: 100%;
    /* background-color: rgba(8, 255, 86, 0.279); */
    background-image: url("../new portfolio/top_image1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#page4 {
    height: 100vh;
    width: 100%;
    background-color: rgba(163, 255, 3, 0.162);
}